.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #9a3ca4;
    background-color: #be8ae3;
    border-color: #9a3ca4;
  }

  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #1a8555;
    background-color: #6ab22f;
}


img {
  max-height: 500px;
  max-width: 500px;
}