/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #9a3ca4;
    background-color: #be8ae3;
    border-color: #9a3ca4;
  }

img {
  max-height: 500px;
  max-width: 500px;
}
body {
  background-color: #fca327;
}
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #9a3ca4;
  background-color: #d994c8;
  border-color: #9a3ca4;
  background-color: #c1d32d;
}
