#content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #6629a300;
    background-color: #6ec121;
    background: radial-gradient(#76db18, rgb(255, 8, 177));
}

h1 {
    color: #7dd828;
}

body {
    background-color: #fca327;
  }


