#content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #6629a300;
    background-color: #67a72b;
    background: radial-gradient(#7bcd2f, rgb(247, 44, 183));
}

h1 {
    color: #67a72b;
}

body {
    background-color: #fca327;
  }